.container {
    margin: auto;
    grid-column: 1 / span 2;
}

.button {
    background-color: #bd7889;
    color: white;
    width: 200px;
    height: 60px;
    font-size: 35px;
    font-family: 'Akaya Kanadaka', cursive;
    border-radius: 10px;
    margin: 40px auto;
    grid-column: 1 / span 2;
}

.button:hover {
    background-color: #b46773;
}
